* {
    padding: 0px;
    margin: 0px;
}

.menu-container {
    display: flex;
    justify-content: space-evenly;
    background-color: black;
    padding: 15px;
    color: white;
}

.menu-items {
    display: flex;
}

.menu-items li {
    list-style: none;
    margin: 5px;
    padding: 10;
    font-size: 18px;
}

.menu-items li:hover {
    color: blue;
    cursor: pointer;
}

.banner-container {
    display: flex;
    align-items: center;
    background-color: black;
    color: white;
    width: 100%;
    height: 100vh;
}

.banner-description {
    margin-left: 50px;
}

.banner-text {
    color: red;
    font-size: 25px;
}

.title1 {
    font-size: 60px;
    font-weight: bold;
    margin: 10px;
}

.title {
    font-size: 25px;
    margin: 10px;
}

.banner-btn {
    padding: 18px 38px;
    background-color: rgb(201, 19, 50);
    margin: 10px;
    font-size: 18px;
    color: white;
}

/* .container {
    height: 100%;
    width: 100%;
    background-color: green;
    clip-path: polygon(0 0, 99% 0, 38% 71%, 0% 100%);
    position: absolute;
} */

/* .container {
    width: 500px;
    height: 350px;
    border: 1px solid gray;
    /* padding: 90px; */

/* margin: 50px 100px 200px 10px;
    background-color: green;
    display: flex;
    justify-content: space-evenly;
 } */