* {
    padding: 0px;
    margin: 0px;
}

.menu-container {
    display: flex;
    justify-content: space-evenly;
    background-color: black;
    padding: 15px;
    color: white;
}

.menu-items {
    display: flex;
}

.menu-items li {
    list-style: none;
    margin: 15px;
    paddind: 15px;
    font-size: 18px;
}

.menu-items li:hover {
    color: blue;
    cursor: pointer;
}

.banner-container {
    display: flex;
    align-items: center;
    background-color: black;
    color: white;
    width: 100%;
    height: 100vh;
}

.banner-description {
    margin-left: 50px;
}

.banner-text {
    color: red;
    font-size: 25px;
    margin: 10px;
}

.title1 {
    font-size: 60px;
    font-weight: bold;
    margin: 10px;
}

.title {
    font-size: 25px;
    margin: 10px;
}

.banner-btn {
    padding: 18px 38px;
    background-color: rgb(201, 19, 50);
    margin: 10px;
    font-size: 18px;
    color: white;
}

.section-tow {
    display: flex;
    margin: 70px;
    padding: 50px;
    justify-content: space-evenly;

}

.title2 {
    margin: 70px;
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 10px;
}

.card1 {
    width: 350px;
    height: 250px;
    border: 1px solid gray;
    text-align: center;
    box-shadow: 8px 8px 16px gray;
    border-radius: 10px;
    padding: 20px;
    margin-top: 40px;
    transition: .8ms;
}

.card1:hover {
    border: 1px solid rgb(243, 29, 29);
    margin-top: -20px;
    transition: .8ms;
}

.gym-icon {
    width: 50px;
}

.about-container {
    display: flex;
    background-color: black;
    color: white;
    /* align-items: center;
    justify-content: space-evenly; */
}

.about-left {
    width: 700px;
    padding-right: 20px;
    /* border: 1px solid red; */
}

.about-right {
    width: 700px;
    padding-left: 100px;
    /* border: 1px solid rgb(23, 22, 22); */
}

.workout-img {
    display: flex;
    margin-top: 50px;
    margin-bottom: 50px;
}

.workout-img img {
    width: 350px;
    height: 550px;
    transform: skewX(-15deg);
}

.btn-text {
    text-decoration: none;
    color: white;
}

.workout-container {
    width: 650px;
    height: 200px;
    background-image: url(images/shape/Group_33094_1.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px;
    margin: 0 auto;
    margin-top: 70px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;


}

/* .container {
    height: 100%;
    width: 100%;
    background-color: green;
    clip-path: polygon(0 0, 99% 0, 38% 71%, 0% 100%);
    position: absolute;
} */

/* .container {
    width: 500px;
    height: 350px;
    border: 1px solid gray;
    /* padding: 90px; */

/* margin: 50px 100px 200px 10px;
    background-color: green;
    display: flex;
    justify-content: space-evenly;
 } */